.container {
    width: 100%;
    max-width: 1250px;
    padding-inline: var(--space-3);
    margin-inline: auto;
}

.grid {
    display: grid;
}

.section {
    padding-block: var(--space-10);

    &__title {
        text-align: center;
        font-size: var(--fs-lg);
        margin-bottom: 2rem;
    }
}