@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap');

:root {
    --header-height: 3.5rem;

    --primary-color: hsl(230, 62%, 56%);
    --white-color: hsl(0, 0%, 100%);
    --grey-color: hsl(228, 12%, 8%);
    --black-color: hsl(0, 0%, 0%);
    --text-color: hsl(230, 16%, 70%);
    --title-color: hsl(230, 48%, 85%);
    --container-color: hsl(230, 12%, 12%);
    --border-color: hsl(230, 12%, 18%);

    --body-font: "Montserrat Alternates", sans-serif;
    --fs-xl: 2rem;
    --fs-lg: 1.5rem;
    --fs-md: 0.938rem;
    --fs-sm: 0.75rem;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;

    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 1.5rem;
    --space-4: 2rem;
    --space-5: 2.5rem;
    --space-6: 3rem;
    --space-7: 3.5rem;
    --space-8: 4rem;
    --space-9: 4.5rem;
    --space-10: 5rem;

    --zi-soft: 10;
    --zi-hard: 100;
    --zi-super-hard: 1000;
}

@media screen and (min-width: 1115px) {
    :root {
        --fs-xl: 3.5rem;
        --fs-md: 1rem;
        --fa-sm: 0.9rem;
    }
}