.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--grey-color);
    z-index: var(--zi-super-hard);
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        color: var(--text-color);
        font-size: var(--fs-md);
        font-weight: var(--fw-medium);
    }

    &__close,
    &__toggle {
        display: flex;
        font-size: 1.5rem;
        color: var(--text-color);
        cursor: pointer;
    }

    &__list,
    &__social {
        display: flex;
    }

    &__list {
        flex-direction: column;
        row-gap: 3rem;

        &:has(.nav__link:hover) .nav__link:not(:hover) {
            opacity: 0.4;
        }
    }

    &__link {
        position: relative;
        font-size: var(--fs-lg);
        color: var(--text-color);
        font-weight: var(--fw-medium);
        display: inline-flex;
        align-items: center;
        transition: opacity 0.4s;

        & i {
            font-size: 2rem;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.4s, visibility 0.4s;
        }

        & span {
            position: relative;
            transition: margin 0.4s;
        }

        & span::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -6px;
            width: 0;
            height: 2px;
            background-color: var(--text-color);
            transition: width 0.4s ease-in-out;
        }

        &:hover span {
            margin-left: var(--space-5);
        }

        &:hover i {
            opacity: 1;
            visibility: visible;
        }

        &:hover span::after {
            width: 100%;
        }
    }

    &__social {
        column-gap: var(--space-2);
        align-items: center;

        &--link {
            color: var(--text-color);
            opacity: 0.6;
            font-size: var(--fs-sm);
            transition: transform 0.4s;

            &:hover {
                transform: translateY(-0.25rem);
                opacity: 1;
                color: var(--clr);
            }
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        column-gap: 5.5rem;
    }
}

// mobile 
@media screen and (max-width: 1115px) {
    .nav {
        &__menu {
            position: fixed;
            left: -100%;
            top: 0;

            background-color: var(--grey-color);

            width: 100%;
            height: 100%;
            padding: 4rem 3.5rem 4rem;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            transition: left 0.4s;
        }

        &__item {
            transform: translateX(-150px);
            visibility: hidden;
            transition: transform 0.4s, visibility 0.4s;

            &:nth-child(1) {
                transition-delay: 0.1s;
            }

            &:nth-child(2) {
                transition-delay: 0.2s;
            }

            &:nth-child(3) {
                transition-delay: 0.3s;
            }

            &:nth-child(4) {
                transition-delay: 0.4s;
            }

            &:nth-child(5) {
                transition-delay: 0.5s;
            }
        }

        &__close {
            position: absolute;
            top: var(--space-2);
            right: var(--space-3);
        }

        &__menu--show {
            left: 0;

            & .nav__item {
                visibility: visible;
                transform: translateX(0);
            }
        }
    }
}

// desktop
@media screen and (min-width: 1115px) {
    .nav {
        height: calc(var(--header-height) + 2rem);

        &__close,
        &__toggle {
            display: none;
        }

        &__link {
            font-size: var(--fs-md);

            & i {
                font-size: 1.5rem;
            }
        }

        &__list {
            flex-direction: row;
            column-gap: 3.5rem;
        }
    }
}