// home
.home {
    &__swiper {
        margin: initial;
    }

    &__container {
        padding-top: 2rem;
        row-gap: 2.5rem;
    }

    &__data {
        text-align: center;
    }

    &__title {
        font-size: var(--fs-xl);
        margin-bottom: 1rem;
        color: var(--title-color);
    }

    &__description {
        margin-bottom: 2rem;
    }

    &__images {
        display: grid;
    }

    &__article,
    &__img {
        width: 220px;
        transition: scale 0.4s;
    }

    &__article {
        scale: 0.8;
    }
}

/* Swiper class */
.swiper-slide {

    &-active,
    &-duplicate-active {
        scale: 1;
    }
}

// services
.service {
    &__container {
        row-gap: 3rem;
    }

    &__card {
        text-align: center;
    }

    &__card i {
        display: block;
        font-size: 3rem;
        color: var(--primary-color);
        margin-bottom: 1rem;
    }

    &__title {
        font-size: var(--h3-font-size);
        margin-bottom: 0.5rem;
    }
}

/* featured */
.featured {
    &__card {
        position: relative;
        text-align: center;
        background-color: var(--container-color);
        padding: 2rem;
        overflow: hidden;
        border: 2px solid var(--border-color);
        transition: border .4s, background-color .4s;
    }

    &__img {
        width: 150px;
        margin: 0 auto .75rem;
    }

    &__title {
        font-size: var(--fs-md);
        margin-bottom: 0.5rem;
    }

    &__year {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: .75rem;
        color: var(--title-color);
        margin-bottom: var(--space-1);
    }

    &__genre {
        color: var(--primary-color);
        font-size: var(--fs-sm);
    }
}

/* Swiper class */
.swiper-button {

    &-prev::after,
    &-next::after {
        content: "";
    }

    &-prev,
    &-next {
        width: initial;
        height: initial;
        background-color: var(--container-color);
        border: 2px solid var(--border-color);
        padding: .5rem;
        font-size: 1.5rem;
        color: var(--first-color);
        transition: border .4s, background-color .4s;
    }
}

/* discount */
.discount {
    &__container {
        row-gap: 3.5rem;
    }

    &__data {
        text-align: center;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__description {
        margin-bottom: 2rem;
    }

    &__images {
        display: flex;
        justify-content: center;
    }

    &__img-1,
    &__img-2 {
        width: 170px;
    }

    &__img-1 {
        transform: translateX(1rem) rotate(-10deg);
    }

    &__img-2 {
        transform: translateX(-1rem) rotate(10deg);
    }
}

/* testimonial */
.testimonial {
    &__card {
        text-align: center;
        background-color: var(--container-color);
        padding: 2rem 3rem 2.5rem;
        border: 2px solid var(--border-color);
        transition: border .4s, background-color .4s;
    }

    &__img {
        width: 100px;
        border-radius: 50%;
        margin: 0 auto 1.5rem;
    }

    &__title {
        font-size: var(--h2-font-size);
        margin-bottom: .75rem;
    }

    &__description {
        font-size: var(--small-font-size);
        margin-bottom: 1.25rem;
    }

    &__stars {
        color: var(--first-color);
    }
}

.footer {
    &__content {
        row-gap: var(--space-6);
    }
}

@media screen and (max-width: 320px) {
    .discount {

        &__img-1,
        &__img-2 {
            width: 140px;
        }
    }

    .testimonial {
        &__card {
            padding-inline: 1rem;
        }
    }

    .new__card {
        flex-direction: column;
    }

    .footer {

        &__data {
            grid-template-columns: 1fr;
            row-gap: 2rem;
        }
    }
}

@media screen and (min-width: 450px) {
    .featured {
        &__card {
            width: 290px;
        }
    }

    .new__card {
        width: 390px;
    }

    .testimonial {
        &__card {
            width: 320px;
        }
    }
}

@media screen and (min-width: 576px) {

    .home__container,
    .discount__container {
        grid-template-columns: 420px;
        justify-content: center;
    }

    .footer {
        &__data {
            grid-template-columns: repeat(3, max-content);
        }
    }
}

@media screen and (min-width: 768px) {
    .home {
        &__container {
            grid-template-columns: 580px;
            justify-content: center;
        }

        &__data {
            width: 420px;
            justify-self: center;
        }

        .footer {
            &__content {
                grid-template-columns: repeat(2, max-content);
                justify-content: space-between;
            }
        }
    }

    .service {
        &__container {
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            column-gap: 5rem;
        }
    }
}

@media screen and (min-width: 1150px) {
    .home {
        &__data {
            width: initial;
        }
    }

    .features {
        &__container {
            padding-top: 2rem;
        }

        &__title {
            font-size: var(--fs-md);
        }
    }

    .discount {
        &__container {
            grid-template-columns: 615px 1fr;
            justify-content: center;
            align-items: center;
            gap: var(--space-10);
        }

        &__data {
            order: 1;
        }

        &__data,
        &__title {
            text-align: initial;
        }

        &__description {
            margin-bottom: 3.5rem;
        }

        &__img-1,
        &__img-2 {
            width: 300px;
        }
    }

    .new {
        &__container {
            padding-top: 2rem;
        }

        &__card {
            padding: 1.5rem;
        }

        &__img {
            width: 120px;
        }

        &__title {
            font-size: var(--h3-font-size);
        }
    }

    .footer {

        &__content {
            grid-template-columns: 2fr 3fr;
        }

        &__data {
            grid-template-columns: repeat(3, max-content);
            column-gap: 4.5rem;
        }

        &__logo,
        &__title {
            font-size: var(--fs-lg);
            margin-bottom: 1.5rem;
        }

        &__links {
            row-gap: 1rem;
        }

        &__social {
            column-gap: 1.5rem;
        }

        &__social-link {
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width: 1220px) {
    .home {
        &__container {
            grid-template-columns: 435px 745px;
            align-items: center;
            padding-block: 7rem 2rem;
        }

        &__data {
            text-align: initial;
        }

        &__description {
            margin-bottom: 4rem;
        }

        &__article,
        &__img {
            width: 290px;
        }
    }
}